<!DOCTYPE html>
<html lang"en" ng-app="bowling">
    <head>
        <meta charset="utf-8">
        <title>Bowling Challenge</title>

        <meta name="description" content="Webpage">
		
        <script src="angular.min.js"></script>
        <script src="script.js"></script>
	
	</head>
    <body ng-controller="MainController">
        <form novalidate class="simple-form">
            Ball One: <input type="number" ng-model="a"/><br />
            Ball Two: <input type="number" ng-model="b" /><br />
            Ball Three(10th Frame) <input type="number" ng-model="c" /><br />
            <input type="button" ng-click="newGame()" value="New Game" />
            <input type="submit" ng-click="enterScore(a,b,c)" ng-hide="myVar" value="Enter Score" />
        </form>
       <h2>Frames</h2>
        <ul class="test">
            <li ng-repeat="score in scores track by $index">
                <div class="rows">
                    <div class="scoreshere">
                       <h4>Frame{{($index+1)}}: {{score}}</h4>
                    </div>
                </div>
            </li>
        </ul>
        <div>
            <h4>TOTAL SCORE: {{total}} </h4>
        </div>    
    </body>
</html>